name: Publish Docker Images
on:
  release:
    types:
      - created
  workflow_dispatch:
jobs:
  build:
    strategy:
      matrix:
        tag: ['java16', 'java8']
    name: Build and publish ${{ matrix.tag }} image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      
      - name: Cache Docker layers
        uses: actions/cache@v2
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Setup Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1
        
      - name: Get release info
        id: release
        uses: abatilo/release-info-action@v1.3.0
        with:
          owner: kuba2k2
          repo: MCStart
          
      - name: Read version name
        id: version
        run: echo "::set-output name=version::${{ steps.release.outputs.latest_tag }}" | sed 's/::v/::/'

      - name: Build and push image
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          build-args: |
            TAG=${{ matrix.tag }}
          tags: ${{ secrets.DOCKER_HUB_USERNAME }}/mcstart:${{ steps.version.outputs.version }}-${{ matrix.tag }}
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache

      - name: Print image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
